
#btn {
    
    margin:10px auto;
    width: 250px;
    height: 60px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    font-size: large;
}
#container {
    margin:30px auto;
    width: 960px;
}
.mainDiv {
    /*     border: 1px blue solid;*/
    
    flex-direction: row;
    display: flex;
    height: 32px;
    width: 960px;
    /* margin: 1px;*/
}

.minorDiv {
    border: 1px red solid;
    flex-direction:column ;
    display: flex;
    height: 30px;
    width: 30px;
    /* margin: 1px;*/
    
}

/*
.minorDiv:hover {
    background: #3a12a8 ;
    margin: 1px;
} 

*/

.minorDivHover{
    background: #3a12a8 ;
    margin: 1px;
    

    

} 